<div class="container w-25 border border-primary">
	<div class="row">
		<div class="col">
			<p class="text-justify text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed arcu non odio euismod lacinia at quis risus. Egestas integer eget aliquet nibh.</p>
		</div>
	</div>
	<div class="row">
		<form class="mb-2 ml-2 mr-2">
			<div class="row pl-5 pr-5">
				<div class="col-sm-6">
					<input type="password" class="form-control" placeholder="Key">
				</div>
				<div class="col-sm-3">
					<button type="submit" class="btn btn-primary">Decode</button>
				</div>
			</div>
		</form>
	</div>
</div>
