<div class="container w-25 border border-primary">
	<div class="row">
		<div class="col">
			<div class="form-group">
				<label for="messageArea">Message</label>
				<textarea class="form-control rounded-lg" id="messageArea" rows="1"></textarea>
			</div>
		</div>
	</div>
	<div class="row">
		<form class="mb-2 ml-2 mr-2">
			<div class="row pl-4 pr-4">
				<div class="col-sm-3 mt-1 mr-1">
					<input type="checkbox" class="form-check-input" id="toEncodeCheck">
					<label for="toEncodeCheck" class="form-check-label">Encode</label>
				</div>
				<div class="col-sm-5">
					<input type="password" class="form-control" placeholder="Key">
				</div>
				<div class="col-sm-3">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</div>
		</form>
	</div>
</div>
